.x-tool-eval {
    background-image: url(images/icons/notepad_icon_16.jpg) !important;
}

.button-refresh {
    background-image: url(images/icons/fam/arrow_refresh.png) !important;
}

.button-save {
    background-image: url(images/icons/fam/disk.png) !important;
}

.button-add {
    background-image: url(images/icons/fam/add.png) !important;
}

.button-edit {
    background-image: url(images/icons/fam/application_edit.png) !important;
}

.button-view-list {
    background-image: url(images/icons/fam/application_cascade.png) !important;
}

.button-remove {
    background-image: url(images/icons/fam/delete.png) !important;
}

.button-form-edit {
    background-image: url(images/icons/fam/application_form_edit.png) !important;
}

.button-form-add {
    background-image: url(images/icons/fam/application_form_add.png) !important;
}

.button-form-view {
    background-image: url(images/icons/fam/application_form_magnify.png) !important;
}

.icon-accept {
    background-image: url(images/icons/fam/accept.png) !important;
}

.icon-alert {
    background-image: url(images/icons/fam/exclamation.png) !important;
}

